<div class="jumbotron container-fluid">
  <div class="text-center">
    <h1> <%= @client.identifier.capitalize %></h1>
  </div>
  <div class="row col-md-6 col-md-offset-3">
    <div class="text-center">
      <p> Welcome to the homepage of <%= @client.identifier.capitalize %>,
        on this page you will find statistical data as it relates to
        <%= @client.identifier.capitalize %>.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="stats" class="text-center row">
    <h4><%= @client.identifier.capitalize %> Payload Statistics</h4>
    <div class="col-md-offset-3 col-md-6">
          <%= erb :_dashboard_response_time_table,
            locals: {average: @client.average_response_time_for_client,
                     min: @client.min_response_time_for_client,
                     max: @client.max_response_time_for_client, 
                     freq: @client.most_frequent_request_type_for_client} %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div id= "verbs" class="col-md-6 text-center">
      <h5>HTTP Verbs</h5>
      <%= erb :_dashboard_list_table, locals: {ordered_list: @client.all_http_verbs_for_client }%>
    </div>
    <div class="text-center">
      <div id="all-urls" class="col-md-6">
        <h5>All Requested URLs (link to URL dashboard)</h6>
        <%= erb :_dashboard_list_table, locals: {ordered_list: @client.url_list_with_links_for_dashboard }%>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="browsers" class="col-md-6 text-center">
      <h5>Web Browsers</h5>
      <%= erb :_dashboard_count_table, locals: {count_hash: @client.browser_breakdown_for_client }%>
    </div>
    <div id="os" class="col-md-6 text-center">
      <h5>Operating Systems</h5>
      <%= erb :_dashboard_count_table, locals: {count_hash: @client.operating_system_breakdown_for_client }%>
    </div>
  </div>
  <div class="row">
    <div id ="resolutions" class="col-md-12 text-center">
      <h5>Resolutions</h5>
      <%= erb :_dashboard_list_table, locals: {ordered_list: @client.all_screen_resolutions_for_client }%>
    </div>
  </div>
</div>
