<div class="jumbotron container-fluid">
  <div class="text-center">
    <h1> <%= identifier.capitalize %>'s Events </h1>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="text-center">
      <p> Here you will find all of the events that <%= identifier.capitalize %> has used, as well as links to more detailed information </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <% events.uniq.each do |event| %>
  <div class="lead col-md-4 text-center">
    <h2><a class="text-muted" href="/sources/<%= identifier %>/events/<%= event.name %>"><%= event.name.capitalize %></a></h2>
  </div>
  <% end %>
</div>
